/*Center the application on the page */

/* .App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: sans-serif;
} */

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

background: linear-gradient(
  135deg,
  #74b9ff 0%,
  #a29bfe 100%
);

padding: 20px;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
